.picture {
    width: 220px;
    height: 235px;
    position: absolute;
    top: 50px;
    right: -300px;
    border: 1px solid black;
    margin-bottom: 500px;
}

.port {
    text-align: center;
    text-decoration: underline;

}

.portfolio-link {
    color: black;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: -10px;
    font-family: Georgia, Times, 'Times New Roman', serif;

}

h3 {
    margin-top: 10px;
    padding-top: 10px;
}


h4 {
    margin-bottom: -5px;
}

.phrase {
    text-align: left;
    border-top: 1px solid black;
    font-weight: normal;
    font-family: Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    padding-top: 20px;
    margin-top: 0px;

}

.container {
    text-align: center;
    width: 400px;
    height: 500px;
    color: black;
    font-weight: 100;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    position: relative;
    border-top: 5px solid black;
    font-family: Georgia, Times, 'Times New Roman', serif;

}

.facebook-link {
    color: black;
    text-decoration: underline;

}

.insta-link {
    color: black;
    text-decoration: underline;

}


.linked-link {
    color: black;
    text-decoration: underline;

}

.github-link {
    color: black;
    text-decoration: underline;



}


.fixed-border {
    border-bottom: 1px solid black;
}

.bottom-border {
    border-bottom: 5px solid black;
    padding-top: 10px;
}
