.container {
    text-align: center;
}

.profile-picture{
    width: 500px;
    height: 300px; 
    border: 1px solid black;
    padding: 5px;   
    
}
.description{
    text-align: center;
    font-family: 'Times New Roman', Times, serif; 

}
.top-line{
    padding: 5px;
   border-bottom: 2px solid black; 
}